site_name: Opencrate

site_url: https://OpenCrateAI.github.io/opencrate/
repo_url: https://github.com/OpenCrateAI/opencrate
repo_name: OpenCrateAI/opencrate
nav:
  - Home: index.md
  - Learn:
      - "Guides": guides/1_artifacts_logging_reproducible_workflows.ipynb
  - Features:
      - "Guides": guides/1_artifacts_logging_reproducible_workflows.ipynb
  - Reference:
      - OpenCrate: reference/opencrate.md
      - Snapshot: reference/snapshot.md
      - Configuration: reference/config.md
      - I/O: reference/io.md
      - Concurrency: reference/concurrency.md
      - Decorators: reference/decorate.md
      - Visualization: reference/visualize.md
  - Resources:
      - "Guides": guides/1_artifacts_logging_reproducible_workflows.ipynb
  - About:
      - "Guides": guides/1_artifacts_logging_reproducible_workflows.ipynb
  - Release Notes:
      - "Guides": guides/1_artifacts_logging_reproducible_workflows.ipynb
  - Contributing:
      - "Contributing Guide": contribution/CONTRIBUTION.md

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: [src/opencrate] # Point directly to the package
          selection:
            docstrings_style: google
          rendering:
            show_root_heading: false
            show_root_full_path: false
            show_category_heading: true
            show_if_no_docstring: false
            show_signature: true
            show_signature_annotations: true
            separate_signature: false
            members_order: source
            merge_init_into_class: true
  - mkdocs-jupyter:
      include_source: True
      ignore_h1_titles: True

markdown_extensions:
  - admonition
  - attr_list
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences
  - toc:
      permalink: true

theme:
  name: material
  logo: assets/logo.svg
  favicon: assets/favicon.ico
  features:
    # - header.autohide
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - navigation.footer
    - navigation.indexes
    - toc.integrate
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.copy
    - content.code.annotate
  language: en
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Light mode
      primary: yellow
      accent: yellow
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Dark mode
      primary: yellow
      accent: yellow
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: System Preferences
      primary: yellow
      accent: yellow

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://fosstodon.org/@squidfunk
      name: Opencrate
  generator: false
copyright: Copyright &copy; 2025 Opencrate

extra_css:
  - css/custom.css
