tensorflow
tensorflow-addons
tensorflow-datasets
tensorflow-estimator
tensorflow-hub
tensorflow-io
tensorflow-model-analysis
tensorflow-probability
tensorflow-recommenders
tensorflow-text
tensorflow-decision-forests

keras-cv
keras-nlp
keras

tf2onnx

docker
tornado>=6.5.3 # not directly required, pinned by Snyk to avoid a vulnerability