torch
torchvision
# torchtext
# torchaudio
# torchdata

# --extra-index-url https://pypi.org/simple
# torchinfo
# torchmetrics
# pytorch-lightning 
# huggingface
# datasets
# diffusers
# accelerate
# safetensors
# captum
# albumentations

docker

# nvidia-modelopt[all]==0.15.0 only available for >= python 3.9 to <= python 3.12
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=78.1.1 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability