torch
torchvision
# torchtext
# torchaudio
# torchdata

# --extra-index-url https://pypi.org/simple
# torchinfo
# torchmetrics
# pytorch-lightning 
# huggingface
# datasets
# diffusers
# accelerate
# safetensors
# captum
# albumentations

docker

# nvidia-modelopt[all]==0.15.0 only available for >= python 3.9 to <= python 3.12